

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Hachi+Maru+Pop&family=Parkinsans:wght@300..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Hachi+Maru+Pop&family=Orbitron:wght@400..900&family=Parkinsans:wght@300..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Varela+Round&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  font-family: '', sans-serif;
}
:root {
  --bg-light: #FFFFFF; /* Light background */
  --bg-dark: #323437; /* Dark background */
}

body {
  @apply bg-[var(--bg-light)] text-black;
}

.dark body {
  @apply bg-[var(--bg-dark)] text-white;
}

.bg-background-light {
  @apply bg-[var(--bg-light)] text-textcolor-lightcolor;
}

.dark .bg-background-light {
  @apply bg-[var(--bg-dark)] text-textcolor-yellow;
}

@font-face {
  font-family: 'Thicccboi';
  src: url('/fonts/THICCCBOI-Regular.woff2') format('woff2'),
       url('/fonts/THICCCBOI-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Thicccboi';
  src: url('/fonts/THICCCBOI-Medium.woff2') format('woff2'),
       url('/fonts/THICCCBOI-Medium.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Thicccboi';
  src: url('/fonts/THICCCBOI-Light.woff2') format('woff2'),
       url('/fonts/THICCCBOI-Light.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}