@import url('https://fonts.googleapis.com/css2?family=ThicccBoi:wght@100;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-light: #ffffff;
  --foreground-light: #000000;
  --background-dark: #000000;
  --foreground-dark: #ffffff;
}

body {
  @apply bg-background-light text-foreground-light;
  font-family: 'ThicccBoi', sans-serif;
}

.dark body {
  @apply bg-background-dark text-foreground-dark;
}
